/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* BODY */
body{
background:linear-gradient(135deg,#6dd5ed,#2193b0);
min-height:100vh;
}

/* HEADER */
header{
background:#111;
color:white;
text-align:center;
padding:30px;
}

header h1{
font-size:32px;
}

header p{
opacity:0.8;
}

/* NAVBAR */
nav{
background:white;
display:flex;
justify-content:center;
gap:40px;
padding:15px;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
position:sticky;
top:0;
z-index:100;
}

nav a{
text-decoration:none;
color:#333;
font-weight:bold;
font-size:18px;
transition:0.3s;
}

nav a:hover{
color:#2193b0;
transform:scale(1.1);
}

/* BANNER */
.banner{
position:relative;
height:350px;
overflow:hidden;
}

.banner img{
width:100%;
height:100%;
object-fit:cover;
filter:brightness(70%);
}

.banner-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
text-align:center;
}

.banner-text h2{
font-size:40px;
margin-bottom:10px;
}

/* CARD */
.card{
width:75%;
margin:40px auto;
background:white;
padding:35px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* LIST */
ul{
margin-left:20px;
margin-top:10px;
}

/* TABLE */
table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ddd;
padding:12px;
text-align:center;
}

th{
background:#2193b0;
color:white;
}

/* SLIDESHOW */
.slideshow{
display:flex;
justify-content:center;
gap:25px;
margin-top:20px;
}

.slide{
width:160px;
height:110px;
object-fit:cover;
border-radius:10px;
opacity:0.5;
transform:scale(0.9);
transition:0.5s;
}

.slide.active{
opacity:1;
transform:scale(1.2);
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

/* FORM */
input,select,textarea{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

button[type="submit"]{
background:#2193b0;
color:white;
}

button[type="reset"]{
background:#ccc;
}

/* FOOTER */
footer{
text-align:center;
padding:25px;
background:#111;
color:white;
margin-top:40px;
}

/* ANIMATION */
.card{
opacity:0;
transform:translateY(40px);
transition:1s;
}

.card.show{
opacity:1;
transform:translateY(0);
}

/* TĂNG CỠ CHỮ FORM */
section h2{
font-size:28px;
margin-bottom:20px;
}

label{
font-size:20px;
font-weight:600;
}

/* TĂNG KÍCH THƯỚC Ô NHẬP */
input[type="text"],
select,
textarea{
font-size:18px;
padding:14px;
height:50px;
border-radius:8px;
}

/* TEXTAREA CAO HƠN */
textarea{
height:120px;
}

/* RADIO & CHECKBOX TO HƠN */
input[type="radio"],
input[type="checkbox"]{
transform:scale(1.5);
margin-right:8px;
}

/* CHỮ BÊN CẠNH RADIO/CHECKBOX */
section{
font-size:18px;
}

/* NÚT BẤM TO HƠN */
button{
font-size:18px;
padding:12px 25px;
margin-top:10px;
}
